In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

In [17]:
df = pd.read_csv("Training_Data_Set.csv")

In [18]:
df.head(10)

,Id,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
0,25001,skoda,octavia,Ahmedabad,NaN,Second,1964,55,1964,147.0,compact,8,man,None,None,petrol,543764.25
1,25002,fiat,panda,Ahmedabad,27750.0,Third,2012,7,1242,51.0,NaN,6,man,4,4,petrol,401819.25
2,25003,bmw,x1,Hyderabad,46000.0,Third,2014,5,1995,105.0,NaN,7,auto,4,5,diesel,2392855.50
3,25004,nissan,juke,Mumbai,43949.0,Third,2011,8,1618,140.0,NaN,7,man,4,5,petrol,958606.50
4,25005,bmw,x5,Jaipur,59524.0,Fourth & Above,2012,7,2993,180.0,NaN,7,auto,4,5,diesel,3085561.50
5,25006,skoda,octavia,Chennai,12015.0,First,2015,4,1968,110.0,NaN,4,man,4,5,diesel,1543728.75
6,25007,skoda,superb,Coimbatore,181000.0,Fourth & Above,2009,10,1968,125.0,NaN,6,auto,5,5,diesel,915985.50
7,25008,fiat,panda,Chennai,33100.0,Second,2010,9,1108,40.0,NaN,5,man,5,5,petrol,327535.50
8,25009,nissan,qashqai,Coimbatore,17375.0,First,2015,4,1600,96.0,NaN,5,man,4,5,diesel,1361480.25
9,25010,skoda,superb,Mumbai,97640.0,Fourth & Above,2010,9,2000,103.0,NaN,6,man,5,5,diesel,885455.25

In [19]:
df["seat_count"] = df["seat_count"].replace("None",np.nan)
df["seat_count"] = df["seat_count"].fillna(-1)
df["seat_count"] = df["seat_count"].astype(int)
df["seat_count"] = df["seat_count"].replace(-1, np.nan)
df["door_count"] = df["door_count"].replace("None",np.nan)
df["door_count"] = df["door_count"].fillna(-1)
df["door_count"] = df["door_count"].astype(int)
df["door_count"] = df["door_count"].replace(-1, np.nan)

In [20]:
df = df.drop(["Id","Age of car"],axis=1)

In [21]:
df.loc[(df["Maker"] == "skoda") & (df["model"] == "octavia") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "skoda") & (df["model"] == "octavia"),"engine_power"].mean()

df.loc[(df["Maker"] == "skoda") & (df["model"] == "yeti") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "skoda") & (df["model"] == "yeti"),"engine_power"].mean()

df.loc[(df["Maker"] == "skoda") & (df["model"] == "rapid") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "skoda") & (df["model"] == "rapid"),"engine_power"].mean()

df.loc[(df["Maker"] == "skoda") & (df["model"] == "superb") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "skoda") & (df["model"] == "superb"),"engine_power"].mean()

df.loc[(df["Maker"] == "skoda") & (df["model"] == "roomster") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "skoda") & (df["model"] == "roomster"),"engine_power"].mean()


df.loc[(df["Maker"] == "skoda") & (df["model"] == "citigo") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "skoda") & (df["model"] == "citigo"),"engine_power"].mean()

df.loc[(df["Maker"] == "toyota") & (df["model"] == "yaris") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "toyota") & (df["model"] == "yaris"),"engine_power"].mean()

df.loc[(df["Maker"] == "toyota") & (df["model"] == "auris") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "toyota") & (df["model"] == "auris"),"engine_power"].mean()

df.loc[(df["Maker"] == "toyota") & (df["model"] == "avensis") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "toyota") & (df["model"] == "avensis"),"engine_power"].mean()

df.loc[(df["Maker"] == "toyota") & (df["model"] == "aygo") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "toyota") & (df["model"] == "aygo"),"engine_power"].mean()

df.loc[(df["Maker"] == "audi") & (df["model"] == "q3") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "audi") & (df["model"] == "q3"),"engine_power"].mean()

df.loc[(df["Maker"] == "audi") & (df["model"] == "q5") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "audi") & (df["model"] == "q5"),"engine_power"].mean()

df.loc[(df["Maker"] == "audi") & (df["model"] == "q7") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "audi") & (df["model"] == "q7"),"engine_power"].mean()

df.loc[(df["Maker"] == "audi") & (df["model"] == "coupe") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "audi") & (df["model"] == "coupe"),"engine_power"].mean()

df.loc[(df["Maker"] == "audi") & (df["model"] == "tt") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "audi") & (df["model"] == "tt"),"engine_power"].mean()

df.loc[(df["Maker"] == "bmw") & (df["model"] == "x1") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "bmw") & (df["model"] == "x1"),"engine_power"].mean()

df.loc[(df["Maker"] == "bmw") & (df["model"] == "x5") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "bmw") & (df["model"] == "x5"),"engine_power"].mean()

df.loc[(df["Maker"] == "bmw") & (df["model"] == "x3") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "bmw") & (df["model"] == "x3"),"engine_power"].mean()

df.loc[(df["Maker"] == "nissan") & (df["model"] == "qashqai") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "nissan") & (df["model"] == "qashqai"),"engine_power"].mean()

df.loc[(df["Maker"] == "nissan") & (df["model"] == "micra") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "nissan") & (df["model"] == "micra"),"engine_power"].mean()

df.loc[(df["Maker"] == "nissan") & (df["model"] == "juke") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "nissan") & (df["model"] == "juke"),"engine_power"].mean()

df.loc[(df["Maker"] == "hyundai") & (df["model"] == "i30") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "hyundai") & (df["model"] == "i30"),"engine_power"].mean()

df.loc[(df["Maker"] == "hyundai") & (df["model"] == "coupe") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "hyundai") & (df["model"] == "coupe"),"engine_power"].mean()

df.loc[(df["Maker"] == "fiat") & (df["model"] == "panda") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "fiat") & (df["model"] == "panda"),"engine_power"].mean()

df.loc[(df["Maker"] == "fiat") & (df["model"] == "coupe") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "fiat") & (df["model"] == "coupe"),"engine_power"].mean()

df.loc[(df["Maker"] == "maserati") & (df["model"] == "coupe") &(df["engine_power"].isnull()),"engine_power"] = df.loc[(df["Maker"] == "maserati") & (df["model"] == "coupe"),"engine_power"].mean()

In [22]:
df.loc[(df["Maker"] == "skoda") & (df["model"] == "roomster") & (df["body_type"].isnull()),"body_type"]="van"

In [23]:
df.loc[df["body_type"].isnull(),"body_type"] = "compact"

In [24]:
df.replace({"First":1,"Second":2,"Third": 3,"Fourth & Above":4},inplace=True)

In [25]:
df = pd.get_dummies(df,columns=["Maker","model","body_type","Vroom Audit Rating","fuel_type","Location","transmission"],drop_first=True)

In [27]:
X = df.drop("Price",axis=1)
y = df.pop("Price")

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=1)

In [30]:
import lightgbm as lgb
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as sp_randint
from scipy.stats import uniform as sp_uniform
lgbmr = lgb.LGBMRegressor(random_state = 1, n_jobs = -1)

params = {'n_estimators' : sp_randint(400, 402),
         'max_depth' : sp_randint(1, 20),
         'learning_rate' : sp_uniform(0.01, 0.1)}

lgbm_hpt = RandomizedSearchCV(lgbmr, param_distributions = params,
                                 cv = 5, n_iter = 100, n_jobs = -1, random_state = 0)

lgbm_hpt.fit(X, y)

RandomizedSearchCV(cv=5, estimator=LGBMRegressor(random_state=1), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x00000200BE159160>,
                                        'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x00000200BA45CF10>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x00000200BB22C820>},
                   random_state=0)

In [31]:
pickle.dump(lgbm_hpt,open("lgbm.sav","wb"))

In [32]:
#lgbm_hpt.score(X_test,y_test)

In [33]:
df_2 = pd.read_csv("Test_Data_Set.csv")

output = df_2.iloc[:,0]

df_2["seat_count"] = df_2["seat_count"].replace("None",np.nan)
df_2["seat_count"] = df_2["seat_count"].fillna(-1)
df_2["seat_count"] = df_2["seat_count"].astype(int)
df_2["seat_count"] = df_2["seat_count"].replace(-1, np.nan)
df_2["door_count"] = df_2["door_count"].replace("None",np.nan)
df_2["door_count"] = df_2["door_count"].fillna(-1)
df_2["door_count"] = df_2["door_count"].astype(int)
df_2["door_count"] = df_2["door_count"].replace(-1, np.nan)

df_2 = df_2.drop(["Id","Age of car"],axis=1)

df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "octavia") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "octavia"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "yeti") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "yeti"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "rapid") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "rapid"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "superb") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "superb"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "roomster") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "roomster"),"engine_power"].mean()


df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "citigo") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "citigo"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "yaris") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "yaris"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "auris") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "auris"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "avensis") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "avensis"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "aygo") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "toyota") & (df_2["model"] == "aygo"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "q3") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "q3"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "q5") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "q5"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "q7") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "q7"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "coupe") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "coupe"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "tt") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "audi") & (df_2["model"] == "tt"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "bmw") & (df_2["model"] == "x1") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "bmw") & (df_2["model"] == "x1"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "bmw") & (df_2["model"] == "x5") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "bmw") & (df_2["model"] == "x5"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "bmw") & (df_2["model"] == "x3") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "bmw") & (df_2["model"] == "x3"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "nissan") & (df_2["model"] == "qashqai") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "nissan") & (df_2["model"] == "qashqai"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "nissan") & (df_2["model"] == "micra") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "nissan") & (df_2["model"] == "micra"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "nissan") & (df_2["model"] == "juke") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "nissan") & (df_2["model"] == "juke"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "hyundai") & (df_2["model"] == "i30") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "hyundai") & (df_2["model"] == "i30"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "hyundai") & (df_2["model"] == "coupe") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "hyundai") & (df_2["model"] == "coupe"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "fiat") & (df_2["model"] == "panda") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "fiat") & (df_2["model"] == "panda"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "fiat") & (df_2["model"] == "coupe") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "fiat") & (df_2["model"] == "coupe"),"engine_power"].mean()

df_2.loc[(df_2["Maker"] == "maserati") & (df_2["model"] == "coupe") &(df_2["engine_power"].isnull()),"engine_power"] = df_2.loc[(df_2["Maker"] == "maserati") & (df_2["model"] == "coupe"),"engine_power"].mean()


df_2.loc[(df_2["Maker"] == "skoda") & (df_2["model"] == "roomster") & (df_2["body_type"].isnull()),"body_type"]="van"

df_2.loc[df_2["body_type"].isnull(),"body_type"] = "compact"

df_2.replace({"First":1,"Second":2,"Third": 3,"Fourth & Above":4},inplace=True)


df_2 = pd.get_dummies(df_2,columns=["Maker","model","body_type","Vroom Audit Rating","fuel_type","Location","transmission"],drop_first=True)

In [34]:
y_pred = lgbm_hpt.predict(df_2)

output_df = pd.DataFrame(output)
output_df["Price"] = pd.Series(y_pred)
pd.options.display.float_format = '{:.2f}'.format

output_df.to_csv("output5.csv",index=False)